
@{
    ViewBag.Title = "About";
}
<main>
    <section class="py-3 text-center container">
        <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Bienvenido al panel de Control</h1>
                <p>Estas son tus opciones</p>
                
            </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
                @{
                    bool isLoggedAdmin = HttpContext.Current.Session["Sesion1"] != null;

                }
                @if (isLoggedAdmin)
                {
                    <!-- Card 1 Administradores-->
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="https://cdn.icon-icons.com/icons2/1182/PNG/512/1490129329-rounded38_82203.png" class="bd-placeholder-img card-img-top" height="225" role="img" alt="Thumbnail">
                            <div class="card-body">
                                <p class="card-text">Insertar Usuario</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    @Html.ActionLink("Insertar Usuario", "IngresarUsuarioGet", "Home", new { area = "" }, new { @class = "btn btn-primary" })


                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card 2 Administradores-->
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="https://cdn.icon-icons.com/icons2/602/PNG/512/Remove_User_icon-icons.com_55828.png" class="bd-placeholder-img card-img-top" height="225" role="img" alt="Thumbnail">
                            <div class="card-body">
                                <p class="card-text">Eliminar Usuario</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    @Html.ActionLink("Eliminar Usuario", "BorrarUsuarioGet", "Home", new { area = "" }, new { @class = "btn btn-primary" })


                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card 3 Administradores-->
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="https://w7.pngwing.com/pngs/851/542/png-transparent-computer-icons-refresh-text-monochrome-black-thumbnail.png" class="bd-placeholder-img card-img-top" height="225" role="img" alt="Thumbnail">
                            <div class="card-body">
                                <p class="card-text">Actualizar Informacion de usuario</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    @Html.ActionLink("Actualizar Usuario", "ActualizarUsuarioGet", "Home", new { area = "" }, new { @class = "btn btn-primary" })


                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card 4 Administradores-->
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="https://images.vexels.com/media/users/3/143466/isolated/preview/b47bfb19d11e66c3be00ccb0632047ce-lupa-simple.png" class="bd-placeholder-img card-img-top" height="225" role="img" alt="Thumbnail">
                            <div class="card-body">
                                <p class="card-text">Ver informacion de donativos de un usuario</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    @Html.ActionLink("Ver donativos de un Usuario", "VerTodosLosDonativosDeUnUsuarioGet", "Home", new { area = "" }, new { @class = "btn btn-primary" })


                                </div>
                            </div>
                        </div>
                    </div>

                }


                <!-- Card 1 Usuarios-->
                <div class="col-4">
                    <div class="card shadow-sm">
                        <img src="https://png.pngtree.com/png-vector/20220705/ourlarge/pngtree-food-logo-png-image_5687686.png" class="bd-placeholder-img card-img-top" height="225" role="img" alt="Thumbnail">
                        <div class="card-body">
                            <p class="card-text">Realizar donativo de alimento</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    @Html.ActionLink("Realizar Donativo", "RealizarDonativoAlimentosGet", "Home", new { area = "" }, new { @class = "btn btn-primary" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Card 2 Usuarios-->
                <div class="col-4">
                    <div class="card shadow-sm">
                        <img src="https://previews.123rf.com/images/aminnurulhidayat/aminnurulhidayat2112/aminnurulhidayat211203438/179549635-donaciones-de-iconos-estilo-de-l%C3%ADnea-ilustraci%C3%B3n-simple-vector-de-icono-de-dise%C3%B1o-bueno-para.jpg" class="bd-placeholder-img card-img-top" height="225" role="img" alt="Thumbnail">
                        <div class="card-body">
                            <p class="card-text">Realizar donativo de dinero</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    @Html.ActionLink("Realizar Donativo", "RealizarDonativoDineroGet", "Home", new { area = "" }, new { @class = "btn btn-primary" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Card 3 Usuarios  -->
                <div class="col-4">
                    <div class="card shadow-sm">
                        <img src="https://img.myloview.com/murals/concepto-tienda-de-ropa-logo-lineal-percha-y-corazon-en-color-negro-400-214845476.jpg" class="bd-placeholder-img card-img-top" height="225" role="img" alt="Thumbnail">
                        <div class="card-body">
                            <p class="card-text">Realizar donativo de Producto</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    @Html.ActionLink("Realizar Donativo", "RealizarDonativoProductosGet", "Home", new { area = "" }, new { @class = "btn btn-primary" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</main>
