@model MVC_Login.Models.DonativosAlimentacion

@{
    ViewBag.Title = "Create";
}

<h2>Crear Donativo</h2>

@using (Html.BeginForm("RealizarDonativoAlimentosPost", "Home", FormMethod.Post, new { @class = "row g-3", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Realizar donativo de alimentos</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Donativo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Donativo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Donativo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.correocomo_fk, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.correocomo_fk, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.correocomo_fk, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-secondary" />
            </div>
        </div>
    </div>
}
